In [7]:
from yelpapi import YelpAPI
import pandas as pd
import json
import os, json, math, time
with open('/Users/dmusl/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [3]:
# set our API call parameters and filename before the first call
location = 'North Olmsted, OH 44070'
term = 'seafood'

In [4]:
location.split(',')[0]

'North Olmsted'

In [8]:
## Specify folder for saving data
FOLDER = 'Data/'

os.makedirs(FOLDER, exist_ok = True)
# Specifying JSON_FILE filename (can include a folder)
JSON_FILE = FOLDER+f"{location.split(',')[0]}-{term}.json"

In [23]:
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(term = term, location = location)

In [24]:
type(results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [25]:
results['total']

120

In [26]:
## how many businesses in our results
len(results['businesses'])

20

In [27]:
b_sea = pd.DataFrame(results['businesses'])
b_sea.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,T2df6XK7FdEOO6-QYkuYRQ,salty-marys-westlake,Salty Mary's,https://s3-media2.fl.yelpcdn.com/bphoto/85UPzu...,False,https://www.yelp.com/biz/salty-marys-westlake?...,73,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.45606, 'longitude': -81.90323}",[],$$,"{'address1': '25600 Ctr Ridge Rd', 'address2':...",+14402982121,(440) 298-2121,4678.531487
1,EYqNh5zMIE2EDQ43ciazcA,lees-seafood-boil-north-olmsted-north-olmsted,Lee's Seafood Boil North Olmsted,https://s3-media4.fl.yelpcdn.com/bphoto/8X1m9B...,False,https://www.yelp.com/biz/lees-seafood-boil-nor...,36,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.43291, 'longitude': -81.88364}","[delivery, pickup]",NaN,"{'address1': '23642 Lorain Rd', 'address2': No...",+14404559003,(440) 455-9003,3701.973470
2,hTdV1_Xn1j6yhpIR7CgCJQ,lobster-bros-seafood-westlake,Lobster Bros Seafood,https://s3-media4.fl.yelpcdn.com/bphoto/6IfIS7...,False,https://www.yelp.com/biz/lobster-bros-seafood-...,32,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.468578338623, 'longitude': -81...",[delivery],$$,"{'address1': '26055 Detroit Rd', 'address2': '...",+14408350013,(440) 835-0013,5920.879776
3,Hs68UjZqsTncXTT7V0J9fg,salmon-daves-pacific-grille-rocky-river,Salmon Dave's Pacific Grille,https://s3-media1.fl.yelpcdn.com/bphoto/K4VZ6J...,False,https://www.yelp.com/biz/salmon-daves-pacific-...,150,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.483264, 'longitude': -81.833091}",[],$$$,"{'address1': '19015 Old Lake Rd', 'address2': ...",+14403312739,(440) 331-2739,10510.189877
4,rd0S57SbxokW0WYasjtB9g,bistro-on-the-falls-olmsted-falls,Bistro on the Falls,https://s3-media4.fl.yelpcdn.com/bphoto/xkUhs8...,False,https://www.yelp.com/biz/bistro-on-the-falls-o...,39,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.37396175400378, 'longitude': -...",[],$$$,"{'address1': '8134 Columbia Rd', 'address2': N...",+14407935028,(440) 793-5028,5016.935127

In [28]:
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(term = term, location = location, offset = 20)

In [29]:
b_sea2 = pd.DataFrame(results['businesses'])
b_sea2.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,VUe8lHrZjlRwToi22UIkmw,wild-mango-westlake,Wild Mango,https://s3-media2.fl.yelpcdn.com/bphoto/ndxMmQ...,False,https://www.yelp.com/biz/wild-mango-westlake?a...,48,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 41.45949, 'longitude': -81.9507}",[],"{'address1': '139 Crocker Park Blvd', 'address...",+14409791888,(440) 979-1888,5401.649650,NaN
1,YmTD876xN9YFH6mIe8ZrtA,luca-west-westlake,Luca West,https://s3-media4.fl.yelpcdn.com/bphoto/8wXY_O...,False,https://www.yelp.com/biz/luca-west-westlake?ad...,123,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",3.5,"{'latitude': 41.4713686906873, 'longitude': -8...",[delivery],"{'address1': '24600 Detroit Rd', 'address2': '...",+12162019600,(216) 201-9600,5970.801866,$$
2,OThAF-lt6d7jY-pB1ajWPg,jo-jo-carlonis-italian-restaurant-and-pizzaria...,Jo Jo Carloni's Italian Restaurant & Pizzaria,https://s3-media2.fl.yelpcdn.com/bphoto/1sFanK...,False,https://www.yelp.com/biz/jo-jo-carlonis-italia...,244,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.0,"{'latitude': 41.37111, 'longitude': -81.87564}","[delivery, pickup]","{'address1': '627 W Bagley Rd', 'address2': ''...",+14402358880,(440) 235-8880,6155.828605,$$
3,RqzOWT44Tlt_OIqipAgKvw,gibbs-butcher-block-columbia-station,Gibbs Butcher Block,https://s3-media3.fl.yelpcdn.com/bphoto/eCD8hq...,False,https://www.yelp.com/biz/gibbs-butcher-block-c...,55,"[{'alias': 'grocery', 'title': 'Grocery'}, {'a...",4.0,"{'latitude': 41.35027, 'longitude': -81.9028}",[],"{'address1': '9858 E River Rd', 'address2': ''...",+14402352766,(440) 235-2766,7778.883936,$$
4,XYmTwXGeDhB5Ol3rpO7mmg,hyde-park-prime-steakhouse-westlake,Hyde Park Prime Steakhouse,https://s3-media1.fl.yelpcdn.com/bphoto/hs0fyh...,False,https://www.yelp.com/biz/hyde-park-prime-steak...,107,"[{'alias': 'steak', 'title': 'Steakhouses'}]",4.0,"{'latitude': 41.46041, 'longitude': -81.95204}","[delivery, pickup]","{'address1': '21 Main St', 'address2': '', 'ad...",+14408924933,(440) 892-4933,5548.129411,$$$

In [32]:
## concatenate the previous results and new results. 
b_seas = pd.concat([b_sea, b_sea2],
                      ignore_index=True)
display(b_seas.head(), b_seas.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,T2df6XK7FdEOO6-QYkuYRQ,salty-marys-westlake,Salty Mary's,https://s3-media2.fl.yelpcdn.com/bphoto/85UPzu...,False,https://www.yelp.com/biz/salty-marys-westlake?...,73,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.45606, 'longitude': -81.90323}",[],$$,"{'address1': '25600 Ctr Ridge Rd', 'address2':...",+14402982121,(440) 298-2121,4678.531487
1,EYqNh5zMIE2EDQ43ciazcA,lees-seafood-boil-north-olmsted-north-olmsted,Lee's Seafood Boil North Olmsted,https://s3-media4.fl.yelpcdn.com/bphoto/8X1m9B...,False,https://www.yelp.com/biz/lees-seafood-boil-nor...,36,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.43291, 'longitude': -81.88364}","[delivery, pickup]",NaN,"{'address1': '23642 Lorain Rd', 'address2': No...",+14404559003,(440) 455-9003,3701.973470
2,hTdV1_Xn1j6yhpIR7CgCJQ,lobster-bros-seafood-westlake,Lobster Bros Seafood,https://s3-media4.fl.yelpcdn.com/bphoto/6IfIS7...,False,https://www.yelp.com/biz/lobster-bros-seafood-...,32,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.468578338623, 'longitude': -81...",[delivery],$$,"{'address1': '26055 Detroit Rd', 'address2': '...",+14408350013,(440) 835-0013,5920.879776
3,Hs68UjZqsTncXTT7V0J9fg,salmon-daves-pacific-grille-rocky-river,Salmon Dave's Pacific Grille,https://s3-media1.fl.yelpcdn.com/bphoto/K4VZ6J...,False,https://www.yelp.com/biz/salmon-daves-pacific-...,150,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 41.483264, 'longitude': -81.833091}",[],$$$,"{'address1': '19015 Old Lake Rd', 'address2': ...",+14403312739,(440) 331-2739,10510.189877
4,rd0S57SbxokW0WYasjtB9g,bistro-on-the-falls-olmsted-falls,Bistro on the Falls,https://s3-media4.fl.yelpcdn.com/bphoto/xkUhs8...,False,https://www.yelp.com/biz/bistro-on-the-falls-o...,39,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.37396175400378, 'longitude': -...",[],$$$,"{'address1': '8134 Columbia Rd', 'address2': N...",+14407935028,(440) 793-5028,5016.935127

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
35,PHceo653FqAeQHHrvvaMjA,rosewood-grill-westlake-westlake,Rosewood Grill- Westlake,https://s3-media2.fl.yelpcdn.com/bphoto/5KRfz4...,False,https://www.yelp.com/biz/rosewood-grill-westla...,136,"[{'alias': 'newamerican', 'title': 'American (...",3.5,"{'latitude': 41.4600382, 'longitude': -81.9498...",[delivery],$$,"{'address1': '2033 Crocker Rd', 'address2': ''...",+14408359500,(440) 835-9500,5417.514571
36,TOL2E594kQG07X4UBL_DSw,imperial-garden-north-olmsted,Imperial Garden,https://s3-media2.fl.yelpcdn.com/bphoto/KFKb33...,False,https://www.yelp.com/biz/imperial-garden-north...,16,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",4.0,"{'latitude': 41.4284183, 'longitude': -81.8898...","[delivery, pickup]",NaN,"{'address1': '24201 Lorain Rd N', 'address2': ...",+14407724100,(440) 772-4100,2179.176474
37,X2FAEOuFtWq4TGmN8NEmjQ,the-berea-depot-berea-2,The Berea Depot,https://s3-media2.fl.yelpcdn.com/bphoto/PvFMye...,False,https://www.yelp.com/biz/the-berea-depot-berea...,155,"[{'alias': 'newamerican', 'title': 'American (...",3.5,"{'latitude': 41.3809424635864, 'longitude': -8...","[delivery, pickup]",$$,"{'address1': '30 Depot St', 'address2': '', 'a...",+14402436169,(440) 243-6169,6541.645389
38,qfOSFYfT23CIya1KmD7EGw,grayton-road-tavern-cleveland,Grayton Road Tavern,https://s3-media2.fl.yelpcdn.com/bphoto/MGxVWg...,False,https://www.yelp.com/biz/grayton-road-tavern-c...,157,"[{'alias': 'tradamerican', 'title': 'American ...",3.5,"{'latitude': 41.42653, 'longitude': -81.84429}",[delivery],$$,"{'address1': '4760 Grayton Rd', 'address2': ''...",+12162657770,(216) 265-7770,5797.960405
39,OkC86YtZ0Nm19my5F4GGrQ,tartine-bistro-rocky-river-2,Tartine Bistro,https://s3-media2.fl.yelpcdn.com/bphoto/VMuOtT...,False,https://www.yelp.com/biz/tartine-bistro-rocky-...,193,"[{'alias': 'french', 'title': 'French'}, {'ali...",4.0,"{'latitude': 41.48303, 'longitude': -81.83426}","[delivery, pickup]",$$,"{'address1': '19110 Old Detroit Rd', 'address2...",+14403310800,(440) 331-0800,9637.216418

In [33]:
# save the results to records-style json file with appropriate name
b_seas.to_json("Data/yelp-search-seafood-north_olmsted.json", orient='records')

# Code for Efficient API Extraction
## Work flow below

In [34]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

## Note: your dojo-env may not already have tqdm installed. If its not, you will get an error that says "No module called tqdm"

This is a great opportunity to learn how to install things on your own!
To install tqdm, run pip install tqdm in your terminal.
Note: you can also add an ! before the command to run it inside a Jupyter Notebook

In [ ]:
# Install tmdbsimple (only need to run once)
!pip install tqdm

In [ ]:
# Load API Credentials
with open('/Users/dmusl/.secret/yelp_api.json') as f:
    login = json.load(f)

In [ ]:
login.keys()

In [ ]:
# Instantiate YelpAPI Variable
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)

### Define Search Terms and File Paths

In [35]:
# set our API call parameters and filename before the first call
location = 'North Olmsted, OH 44070'
term = 'vegan'

In [ ]:
location.split(',')[0]

# Create a results-in-progress JSON file, but only if it doesn't exist.

This is the file where your results will be saved. Note: you must rename your JSON_FILE for different queries to prevent confusing results from other searches. We recommend you include your search terms in the filename.

In [36]:
# Specifying JSON_FILE filename (can include a folder)
# include the search terms in the filename
JSON_FILE = "Data/results_in_progress_NO_vegan.json"
JSON_FILE

'Data/results_in_progress_NO_vegan.json'

# Check if our JSON_FILE already exists. This will prevent us from accidentally overwriting an existing file.

If it doesn't exist:

Create any folders needed for the file path.
Save an empty list as JSON_File

In [37]:
## Check if JSON_FILE exists
file_exists = os.path.isfile(JSON_FILE)
## If it does not exist: 
if file_exists == False:
    
    ## CREATE ANY NEEDED FOLDERS
    # Get the Folder Name only
    folder = os.path.dirname(JSON_FILE)
    ## If JSON_FILE included a folder:
    if len(folder)>0:
        # create the folder
        os.makedirs(folder,exist_ok=True)
        
        
    ## INFORM USER AND SAVE EMPTY LIST
    print(f'[i] {JSON_FILE} not found. Saving empty list to file.')
    
    
    # save an empty list
    with open(JSON_FILE,'w') as f:
        json.dump([],f)  
# If it exists, inform user
else:
    print(f"[i] {JSON_FILE} already exists.")

[i] Data/results_in_progress_NO_vegan.json not found. Saving empty list to file.

# Determine how many results are already in the file

Load the results file to determine the # of results we have previously retrieved. If you just created the file, you would expect it to be empty.

We will use this as our offset parameter for our API call. Even if this is your first API call, and the number is 0, we want to define "n_results" based on the length of "previous_results."

In [38]:
## Load previous results and use len of results for offset
with open(JSON_FILE,'r') as f:
    previous_results = json.load(f)
    
## set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')

- 0 previous results found.

# Figure out how many pages of results we will need

We will perform our first query to get our first page of results and the total number of results. We will then (via code) calculate how many pages we will need to retrieve all of our results.

In [40]:
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(term = term, location = location, offset = n_results)

results.keys()

dict_keys(['businesses', 'total', 'region'])

In [41]:
## How many results total?
total_results = results['total']
total_results

180

In [42]:
## How many did we get the details for?
results_per_page = len(results['businesses'])
results_per_page

20

There are over 11000 businesses to retrieve from our API, and we can get 20 results at a time (per "page").
We can calculate the # of results remaining by subtracting our offset (length of our previous results) from our total.
Then we can determine how many pages we will need by dividing the results by 20 (or whatever the value happens to be for results per page)
Note that we need to round up the number of pages in order to get all of the results. Even if there is only 1 result on the last page, we want to include that page! To do this, we will use math.ceil.

In [43]:
# Import additional packages for controlling our loop
import time, math
# Use math.ceil to round up for the total number of pages of results.
n_pages = math.ceil((results['total']-n_results)/ results_per_page)
n_pages

9

When this example was written, there were 11200 results and 20 results per page. 180 /20 = 9. But what if we had 11210 results? Rounding UP would give us 561 pages. We expect the first 560 pages to have 20 results and the last page to have the final 10 results. Notice that we have assigned the number of pages as n_pages here. We will use this value in our next segment of code.

You can see that having to manually go through 560 pages would be quite time-consuming and inefficient! First, we are going to save the first page into our file, and then we will add to it with a for loop.

In [44]:
# join new results with old list with extend and save to file
previous_results.extend(results['businesses'])  
with open(JSON_FILE,'w') as f:
     json.dump(previous_results,f)

# Set up a progress bar in our for loop.

To keep us informed about where we are in our loop, we will add a progress bar to our for loop.

TQDM is a package designed for adding animated progress bars to Python processes. It is not currently included in your dojo-env, so you are going to install it manually by opening a new Terminal/GitBash window and running the following command:

TQDM is easy to use and simply needs to know what we are looping through. If you wanted to test tqdm in action, but your loop is too fast, you can import time and use time.sleep to add a pause within your for loop. We will also use time.sleep when executing many API calls so that we do not overwhelm the server.

In [45]:
from tqdm.notebook import tqdm_notebook
import time
for i in tqdm_notebook(range(n_pages)):
    # adds 200 ms pause
    time.sleep(.2)

  0%|          | 0/9 [00:00<?, ?it/s]

# For Loop to call each page
The loop below will iterate through each page of the results by starting at the appropriate offset. It will then append the results to the previous_results. This may take some time, so check out the progress bar!

In [46]:
for i in tqdm_notebook( range(1,n_pages+1)):
    
    ## Read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    ## save number of results for to use as offset
    n_results = len(previous_results)
    ## use n_results as the OFFSET 
    results = yelp_api.search_query(location=location,
                                    term=term, 
                                    offset=n_results+1)
    
    ## append new results and save to file
    previous_results.extend(results['businesses'])
    
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)
    
    # add a 200ms pause
    time.sleep(.2)
## what to do if we get an error/exception
except Exception as e:
    print(' [!] ERROR', e)

  0%|          | 0/9 [00:00<?, ?it/s]

# Handling queries with >1000 Results
To get around this error, we can add an extra logic check to see if the length of movies we have so far (n_results) + the # of results on each page (results_per_page) is greater than 1,000.

If it is greater than 1,000, we will use a break to end our loop early.

# Deleting Our Previous Results FIle
Let's give ourselves a fresh start with our new and improved loop. Let's delete our previous results file.
We could accomplish this manually or programmatically## .
The Manual Way
We could do this manually by using the Files page in Jupyter to find the file in our results folder and delete it. To delete a file with Jupyter check the check box next to the file you want to delete.

You should now see additional buttons appear above the list of files.

Click on the red trash can icon to delete the file.

# The Programmatic Way
Just like we used the os module to create new folders, we can also use it to delete (or remove) files.

We simply use the os.remove function and pass in our filename to delete.

We can then use our os.path.isfile function again to confirm the file no longer exists.

In [47]:
## delete file and confirm it no longer exits.
os.remove(JSON_FILE)
os.path.isfile(JSON_FILE)

False

Now that we've deleted the file, we need to re-run our code to create it.

This process is begging to be turned into a function so we can easily repeat it.

While we are making it a function, we will add the option to delete the JSON file if it already exists, just like we did above.

So let's make a create_json_file function that accepts the JSON_FILE filename as the first argument and a second argument called delete_if_exists and set it to False by default.

This way, it will not automatically delete previous search results. We will have to explicitly say delete_if_exists = True to do so.

In [49]:
def create_json_file(JSON_FILE,  delete_if_exists=False):
    
    ## Check if JSON_FILE exists
    file_exists = os.path.isfile(JSON_FILE)
    
    ## If it DOES exist:
    if file_exists == True:
        
        ## Check if user wants to delete if exists
        if delete_if_exists==True:
            
            print(f"[!] {JSON_FILE} already exists. Deleting previous file...")
            ## delete file and confirm it no longer exits.
            os.remove(JSON_FILE)
            ## Recursive call to function after old file deleted
            create_json_file(JSON_FILE,delete_if_exists=False)
        else:
            print(f"[i] {JSON_FILE} already exists.")            
            
            
    ## If it does NOT exist:
    else:
        
        ## INFORM USER AND SAVE EMPTY LIST
        print(f"[i] {JSON_FILE} not found. Saving empty list to new file.")
        
        ## CREATE ANY NEEDED FOLDERS
        # Get the Folder Name only
        folder = os.path.dirname(JSON_FILE)
        
        ## If JSON_FILE included a folder:
        if len(folder)>0:
            # create the folder
            os.makedirs(folder,exist_ok=True)
        ## Save empty list to start the json file
        with open(JSON_FILE,'w') as f:
            json.dump([],f)

Now that we have our new function, we can use it with delete_if_exists=True to delete our previous results and start over. We will also need to repeat the steps to recreate our n-results, total_results, results_per_page, and n_pages variables that we created before our first attempted loop.

In [50]:
## Create a new empty json file (exist the previous if it exists)
create_json_file(JSON_FILE, delete_if_exists=True)
## Load previous results and use len of results for offset
with open(JSON_FILE,'r') as f:
    previous_results = json.load(f)
    
## set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(location=location,
                                term=term,
                               offset=n_results)
## How many results total?
total_results = results['total']
## How many did we get the details for?
results_per_page = len(results['businesses'])
# Use math.ceil to round up for the total number of pages of results.
n_pages = math.ceil((results['total']-n_results)/ results_per_page)
n_pages

[i] Data/results_in_progress_NO_vegan.json not found. Saving empty list to new file.
- 0 previous results found.

9

In [51]:
for i in tqdm_notebook( range(1,n_pages+1)):
    
    ## Read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    ## save number of results for to use as offset
    n_results = len(previous_results)
    
    if (n_results + results_per_page) > 1000:
        print('Exceeded 1000 api calls. Stopping loop.')
        break
    
    ## use n_results as the OFFSET 
    results = yelp_api.search_query(location=location,
                                    term=term, 
                                    offset=n_results)
    
    
    
    ## append new results and save to file
    previous_results.extend(results['businesses'])
    
    # display(previous_results)
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)
    
    time.sleep(.2)

  0%|          | 0/9 [00:00<?, ?it/s]

# After the loop has finished

Convert .json to dataframe
Load in the "results in progress" JSON file into a DataFrame:

In [52]:
# load final results
final_df = pd.read_json(JSON_FILE)
display(final_df.head(), final_df.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,VXVrYjLRqNpQY-ogN9ztmQ,cleveland-vegan-lakewood,Cleveland Vegan,https://s3-media4.fl.yelpcdn.com/bphoto/-Do3Co...,False,https://www.yelp.com/biz/cleveland-vegan-lakew...,295,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...",4.5,"{'latitude': 41.4855267595181, 'longitude': -8...",[delivery],$$,"{'address1': '17112 Detroit Ave', 'address2': ...",+12162210201,(216) 221-0201,10908.787939
1,sS37silzgDcQxarNrJk2WQ,thyme-table-bay-village,Thyme Table,https://s3-media1.fl.yelpcdn.com/bphoto/p0AbvB...,False,https://www.yelp.com/biz/thyme-table-bay-villa...,172,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.479158, 'longitude': -81.9207637}","[pickup, delivery]",$$,"{'address1': '583 Dover Center Rd', 'address2'...",+14406176964,(440) 617-6964,6628.324334
2,r4dghMWRoFmBBFlAQvpwrA,cockys-bagels-north-olmsted,Cocky's Bagels,https://s3-media1.fl.yelpcdn.com/bphoto/f3IcYM...,False,https://www.yelp.com/biz/cockys-bagels-north-o...,194,"[{'alias': 'bagels', 'title': 'Bagels'}, {'ali...",4.5,"{'latitude': 41.419271, 'longitude': -81.920495}","[pickup, delivery]",$,"{'address1': '26703 Brookpark Extension', 'add...",+14404551205,(440) 455-1205,596.588885
3,EAiFR299WV3OQ68pHMlmGw,phnom-penh-north-olmsted-2,Phnom Penh,https://s3-media3.fl.yelpcdn.com/bphoto/k6nddW...,False,https://www.yelp.com/biz/phnom-penh-north-olms...,118,"[{'alias': 'cambodian', 'title': 'Cambodian'},...",4.0,"{'latitude': 41.41678, 'longitude': -81.92207}",[delivery],$$,"{'address1': '27080 Lorain Rd', 'address2': ''...",+12162510210,(216) 251-0210,797.602452
4,yBbqFPuwFiaom435KOY4cg,mashiso-asian-grille-north-olmsted,Mashiso Asian Grille,https://s3-media2.fl.yelpcdn.com/bphoto/Bepp8m...,False,https://www.yelp.com/biz/mashiso-asian-grille-...,152,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",4.0,"{'latitude': 41.419502, 'longitude': -81.898061}","[pickup, delivery]",$,"{'address1': '24954 Brookpark Rd', 'address2':...",+14408011184,(440) 801-1184,1277.448497

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
173,iGJFu5WofKIGD9nRj1-zRQ,heinens-grocery-store-rocky-river-2,Heinen's Grocery Store,https://s3-media2.fl.yelpcdn.com/bphoto/f4bpyS...,False,https://www.yelp.com/biz/heinens-grocery-store...,78,"[{'alias': 'grocery', 'title': 'Grocery'}]",4.0,"{'latitude': 41.4818115, 'longitude': -81.8347...",[],$$,"{'address1': '19219 Detroit Rd', 'address2': '...",+14403313830,(440) 331-3830,10288.126588
174,a1DFzgQRYAmfA5o1fDVPEQ,insomnia-cookies-lakewood,Insomnia Cookies,https://s3-media1.fl.yelpcdn.com/bphoto/NdonkA...,False,https://www.yelp.com/biz/insomnia-cookies-lake...,53,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",3.0,"{'latitude': 41.482078, 'longitude': -81.827128}","[delivery, pickup]",$,"{'address1': '18508 Detroit Ave', 'address2': ...",+12165866313,(216) 586-6313,10783.873583
175,f0ELDvCsvHaWwxGodOd8Sw,inca-tea-cafe-cleveland,Inca Tea Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/JQ8OYY...,False,https://www.yelp.com/biz/inca-tea-cafe-clevela...,41,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",4.0,"{'latitude': 41.40854970720977, 'longitude': -...",[],$,"{'address1': '5300 Riverside Dr', 'address2': ...",+18444622832,(844) 462-2832,6874.011333
176,nUogaVQovKvmKHDFGmFlQA,starbucks-coffee-cleveland-19,STARBUCKS COFFEE,https://s3-media1.fl.yelpcdn.com/bphoto/PkiRXF...,False,https://www.yelp.com/biz/starbucks-coffee-clev...,28,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",3.5,"{'latitude': 41.3715799848749, 'longitude': -8...",[delivery],$$,"{'address1': '17999 Bagley Rd', 'address2': ''...",+12169048217,(216) 904-8217,9430.573324
177,MUMiGoEZ3NBwebH4Eff4LA,dq-orange-julius-lakewood,DQ / Orange Julius,https://s3-media3.fl.yelpcdn.com/bphoto/XmLCXd...,False,https://www.yelp.com/biz/dq-orange-julius-lake...,22,"[{'alias': 'icecream', 'title': 'Ice Cream & F...",3.0,"{'latitude': 41.485052, 'longitude': -81.813922}","[delivery, pickup]",$,"{'address1': '16803 Detroit Rd', 'address2': '...",+12165217763,(216) 521-7763,10440.048359

# Check for duplicates
Check for and remove any duplicate results.

In [53]:
# check for duplicate results
final_df.duplicated().sum()

TypeError: unhashable type: 'list'

Because our Yelp results include columns that contain lists, we cannot check every column in the dataframe for duplicates.
Instead, we can use the subset argument for df.duplicated() and df.drop_duplicates() to only check the id column for duplicates.s

In [54]:
# check for duplicate ID's 
final_df.duplicated(subset='id').sum()

21

In [55]:
## Drop duplicate ids and confirm there are no more duplicates
final_df = final_df.drop_duplicates(subset='id')
final_df.duplicated(subset='id').sum()

0

Save the final DataFrame to a .csv (or a .csv.gz if it's too big for the GitHub file size limit).

In [56]:
# save the final results to a compressed csv
final_df.to_csv('Data/final_results_in_progress_NO_vegan.csv.gz', compression='gzip',index=False)